<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Karyawan</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Data Karyawan</h2>
        <div class="text-center mb-4">
           <a href="/employee/create" class="btn btn-sm btn-primary">Tambah Karyawan</a>
        </div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Nama</th>
                    <th>NIP</th>
                    <th>Alamat</th>
                    <th>No HP</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{range $index, $employee := .employees }}
                <tr>
                    <td>{{$employee.Nama}}</td>
                    <td>{{$employee.Nip}}</td>
                    <td>{{$employee.Alamat}}</td>
                    <td>{{$employee.Nohp}}</td>
                    <td>{{$employee.Email}}</td>
                    <td>
                        <a href="/employee/update?id={{$employee.Id}}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="/employee/delete/{{$employee.Id}}" class="btn btn-sm btn-danger" onclick="return confirm('Apakah Anda yakin ingin menghapus karyawan ini?')">Delete</a>
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>