<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Karyawan</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Tambah Karyawan</h2>
        <form action="/employee/update?id={{.employee.Id}}" method="POST">
            <div class="form-group">
                <label for="nama">Nama</label>
                <input type="text" value="{{.employee.Nama}}" name="nama" class="form-control" id="nama" placeholder="Masukkan Nama" required>
            </div>
            <div class="form-group">
                <label for="nip">NIP</label>
                <input type="text" value="{{.employee.Nip}}" name="nip" class="form-control" id="nip" placeholder="Masukkan NIP" required>
            </div>
            <div class="form-group">
                <label for="alamat">Alamat</label>
                <textarea name="alamat" id="alamat" class="form-control" value="{{.employee.Alamat}}" >{{.employee.Alamat}}</textarea>
            </div>
            <div class="form-group">
                <label for="nohp">No HP</label>
                <input type="text" name="nohp" class="form-control" id="nohp" placeholder="Masukkan No HP" value="{{.employee.Nohp}}"  required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Masukkan Email" value="{{.employee.Email}}" required>
            </div>
            <button type="submit" class="btn btn-success">Simpan</button>
        </form>
    </div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>